/**
 * ================================================================================
 *
 * @project:    @monorepo/theme-manager
 * @file:       ~/layers/theme-manager/assets/css/components/layouts.css
 * @version:    1.0.0
 * @createDate: 2025 Nov 10
 * @createTime: 19:52
 * @author:     Steve R Lewis
 *
 * ================================================================================
 *
 * @description:
 * TODO: Create description here
 *
 * ================================================================================
 *
 * @notes: Revision History
 *
 * V1.0.0, 20251110-19:52
 * Initial creation and release of layouts.css
 *
 * ================================================================================
 */

@layer components {
  /**
   * ============================================================================
   * Layout Components
   * ============================================================================
   */
  .layout-default {
    @apply bg-fill-floor-default text-pen-base-default;
  }
}
